h1 {text-align: center;
margin-right: 220px;
}

.label{
    text-align: center;
}
.lists {
    text-align: center;
    list-style-position: inside;
  }
.listss {
  text-align: center;
  list-style-position: inside;
}

#bt1 {
    position: absolute;
    display: inline;
  }
  
  #bt2 {
    position: absolute;
    margin-left: 60px;
    margin-top: 21px;
  }

  #title {
    padding: 10px;
    color: #464646;
}
body {
    background: white;
}
table {
    width: 100%;
    text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}